@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
button{
    color: #f28e1c;
    font-family: 'Rubik Distressed', cursive;
    background: none;
    font-size: 1rem;
    margin-top: 2rem;
    background: rgb(74, 74, 40);
}