.flex-container{
    display: flex;
    flex-direction: row;
   // background-image: url("../../assets/images/background-image.jpeg");
    background-repeat: no-repeat;
    padding: 1rem;
}
.left-side{
    float: left;
    padding-left: 0;
}