@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
html {
  margin: 0;
  padding:0% 0;
  text-align: center;
  background-image: url("./assets/images/background-image.jpeg") ;
 // background-color: black;
  background-repeat: none;
  color:white;
  background-position: center center;
}
main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(35px + 2vmin);
  color: #f28e1c;
  font-family: 'Rubik Distressed', cursive;
}
.main-content{
  min-width: 100%;
}